<div class="policy-list">
  <div class="policy-explanation">
    <p>This page documents the policies for the University of Notre Dame’s institutional repository, CurateND. All questions should be directed to the CurateND support team at <%= mail_to('curate@nd.edu', 'curate@nd.edu', subject: 'Questions about CurateND policies') %>, currently led by Don Brower and Mikala Narlock.</p>
    <p>CurateND’s policies were revised and adopted 02/2021.</p>
  </div>

  <div class="policy-heading">
    <h3>Scope</h3>
  </div>

  <div class="policy-subheading">
    Depositors
  </div>

  <div class="policy">
    <p>Individuals looking to deposit content must be affiliated with the University of Notre Dame (hereafter ND) and have an active NetID to log-in to CurateND and submit work to the repository. Depositors can include:
      <ul>
        <li>ND faculty members (current, emeritus, and retired)</li>
        <li>ND staff</li>
        <li>ND graduate students and postdoctoral fellows</li>
        <li>ND undergraduate students</li>
        <li>ND departments, institutes, and centers</li>
      </ul>
    </p>

    <p>Current ND affiliates may deposit materials published or created before the authors joined ND, as long as the authors are currently affiliated with ND.</p>
    <p>Previous ND affiliates, including alumni, may also contribute content as long as the materials to be deposited were published or created by the authors while affiliated with ND. Contributors or owners who have left Notre Dame should contact the support team at <%= mail_to('curate@nd.edu', 'curate@nd.edu', subject: 'Contributor no longer at ND needing assistance with CurateND content') %> for any changes or updates to previously contributed content or to deposit appropriate additional contributions.</p>

    <p>For those who choose to self-deposit, please know that we may review your deposit and contact you with questions about your content or recommendations to improve the record, such as by including additional project files or enhancing the description. If your project is especially complex or you are unsure of any aspect of the process, a member of the CurateND team can help you prepare and deposit your work(s).</p>
  </div>

  <div class="policy-subheading">
    Intellectual Property
  </div>

  <div class="policy">
    <p>By depositing works in CurateND, you do not surrender any of the rights to your work (such as ownership, usage, etc.). Depositors must have the rights to submit the work;<sup><a id="fnref:1" href="#fn:1">1</a></sup> CurateND accepts no responsibility for work deposited without the appropriate rights. It is also the expectation that depositors will assign access permissions that allow the widest use possible. If you believe your materials were deposited without appropriate permissions, please contact the CurateND support team. If you would like assistance in understanding your author’s agreement, or to learn more about what rights you have retained, please contact our Scholarly Communications Librarian.</p>

    <p>For more information, view the <a href="https://curate.nd.edu/subm_agree" target="_blank">submission agreement</a>.</p>
  </div>

  <div class="policy-subheading">
    Deposit and Access Fees
  </div>

  <div class="policy">
    <p>There are no fees associated with depositing content in CurateND. Content that is deposited in CurateND is available without charge. However, some records in CurateND link to externally hosted or enhanced quality resources that may require access fees.</p>
  </div>

  <div class="policy-subheading">
    Content
  </div>

  <div class="policy">
    <p>Content submitted to the repository can be scholarly, creative, pedagogical, or research related materials  that advance research for the greater scholarly community, regardless of digital format. This includes but is not limited to:
      <ul>
        <li>publications (including preprints)</li>
        <li>dissertations</li>
        <li>master’s and doctoral theses</li>
        <li>working papers and technical reports</li>
        <li>white papers</li>
        <li>datasets (datasets must be complete and must include a readme file. At this time, no classified/restricted/confidential data can be accepted.)</li>
        <li>conference presentations</li>
        <li>conference posters</li>
        <li>campus-based publications</li>
        <li>course-based publications</li>
        <li>audio and video recordings</li>
        <li>exhibition documentation</li>
        <li>artistic research outputs</li>
      </ul>
    </p>

    <p>All deposited items should be in completed form; descriptive information can be updated after deposit, and additional files can be uploaded as necessary. Depositors are responsible for submitting appropriate descriptive metadata at the time of deposit of their content.</p>

    <p>Materials do not need to be in English; when possible, an English-translation of the description is recommended to support discoverability.  CurateND supports non-Roman alphabets, including Greek, Arabic, and Cyrillic characters. If you need assistance uploading this content or creating a description, please contact the CurateND support team.</p>

    <p>Cross-institutional projects with multiple authors can be deposited into CurateND, so long as one author or contributor meets the depositor requirements and is willing to steward the content.</p>

    <p>CurateND does not and cannot accept works that contain Personally Identifiable Information (PII) or sensitive data as defined by the Office of Information Technology (OIT).<sup><a id="fnref:2" href="#fn:2">2</a></sup></p>

    <p>CurateND does not accept official University Records, as defined in the University’s Records Management and Archives Policy.<sup><a id="fnref:3" href="#fn:3">3</a></sup> Please contact the University Archives if you need further assistance (<%= mail_to('archives@nd.edu') %>)</p>

    <p>The CurateND support team will apply this policy to ongoing and future contributions; it does not apply retroactively.</p>
  </div>

  <div class="policy-subheading">
    Supported content formats
  </div>

  <div class="policy">
    <p>CurateND is format-agnostic, meaning all file formats may be deposited. However, it is recommended that contributors deposit their works in formats that are open, sustainable, and well-used in their fields. The following formats are preferred for preservation reasons:</p>

    <ul>
      <li>Textual: PDF/A, TXT, HTML, XML, CSV</li>
    <li>Images: TIFF, JPEG 2000</li>
    <li>Audio: WAVE, AIFF</li>
    <li>Video: MOV, MP4, Motion JPEG 2000</li>
    <li>Database/Spreadsheet: CSV, XML</li>
      </ul>

    <p>If an item needs to be in a format specific to your discipline, consider contacting CurateND support (<%= mail_to('curate@nd.edu', 'curate@nd.edu', subject: 'Questions about content format') %>) or the appropriate Hesburgh Library subject librarian for additional information on file formats.</p>
  </div>

  <div class="policy-subheading">
    Access
  </div>

  <div class="policy">
    <p>Contributors can set specific access permissions for both the content's record and the content itself. Content submitted can be:
      <ul>
        <li>Public: This content is visible to all users and may be indexed by search engines.</li>
        <li>Embargo then Public: This content is private until the  date set by an editor, at which time the content becomes publicly available.</li>
        <li>University of Notre Dame: This content is only visible  to patrons with an active Notre Dame NetID.</li>
        <li>Private: This content is only visible to the editors.</li>
      </ul>
    </p>

    <p>Please note: Access level does not correspond to particular licenses or copyright permissions. Authors are responsible for assigning  an appropriate access level for their content.</p>
  </div>

  <div class="policy-subheading">
    Content Review
  </div>

  <div class="policy">
    <p>Contributions will be reviewed to ensure all materials are described appropriately and conform to descriptive standards. This is to facilitate discovery and preservation of materials. Depositors may be contacted with questions or requests for additional information.</p
  </div>

  <div class="policy-subheading">
    Content Retention
  </div>

  <div class="policy">
    <p>CurateND is intended to provide permanent access to and preservation of deposited content. As a member of a global family of institutional repositories, CurateND aspires to provide open and persistent access to its content. Deposits should be considered permanent.</p>

    <p>However, there are instances when content may need to be removed from the repository. Content may be removed for any number of reasons, such as copyright violations and sensitive data concerns. We will make reasonable efforts to contact the original depositor in the event content needs to be removed.</p>

    <p>After removal, the records of removed content will remain active, with the addition of the language:</p>

    <p class="quote">“This content has been removed by Hesburgh Libraries. For more information, please contact curate@nd.edu.”</p>

    <p>If you would like to request that content be removed for any reason, please contact the CurateND team (<%= mail_to('curate@nd.edu', 'curate@nd.edu', subject: 'Request for content removal from CurateND') %>).</p>
  </div>

  <div class="policy-heading">
    <h3>Privacy</h3>
  </div>

  <div class="policy-explanation">
    <p>CurateND collects various information on users who interact with the site in different ways:</p>
  </div>

  <div class="policy-subheading">
    Depositors
  </div>

  <div class="policy">
    <p>Depositors will be required to log in with their NetID and verify contact information upon account creation. Account information can be found and updated under “Manage,” and then by selecting “My Account.” This information is retained while you are active at the institution and up to six months after you leave. The data are used for internal purposes only.</p>
  </div>

  <div class="policy-subheading">
    Browsing Content
  </div>

  <div class="policy">
    <p>When you access CurateND, our servers record information provided by your browser, such as IP address, time of visit(s), and type of request(s) (e.g., View or Download). This information is not distributed or shared. When content owners view the usage information of their items, all that is provided  is time of visit and type of request.</p>
  </div>

  <div class="policy-subheading">
    Help Request
  </div>

  <div class="policy">
    <p>When you submit a request to the CurateND team, your email address is collected, along with any other information you provide. We use this information to follow up on your request, but the information is not shared beyond the CurateND team.</p>

    <p>For more information about Hesburgh Libraries and our commitment to privacy, please visit the <a href="https://library.nd.edu/privacy-statement" target="_blank">Privacy Statement</a> and <a href="https://drive.google.com/file/d/1y82rSY1aQG2w7rFla-wc_UmsNht-ghcB/view" target="_blank">Privacy FAQ</a>.</p>
  </div>

  <div class="policy-heading">
    <h3>Preservation</h3>
  </div>

  <div class="policy-explanation">
    <p>As part of the Hesburgh Libraries’ mission to connect people to knowledge across time, CurateND is committed to preserving deposits according to preservation practices. For that reason, all materials deposited in CurateND will be saved in two locations: an access copy maintained by Hesburgh Libraries and a preservation copy stored on the University’s tape storage system. The tape system will be backed up in Amazon Web Services (AWS), which allows all materials to have at least two copies stored in different geographical regions.</p>
  </div>

  <div class="policy-subheading">
    Persistent Identifiers
  </div>

  <div class="policy-subcategory">
    CurateND Assigned Identifier
  </div>

  <div class="policy">
    <p>Every item and file stored in CurateND is given a unique eleven-character identifier. This identifier is permanent, and will never be revoked or reassigned to another work in CurateND. Since the CurateND Identifier is not a URL, it is not automatically resolvable to a web page. CurateND identifiers refer to a specific item but do not make a distinction between versions of that item (e.g. minor corrections to either the files or the metadata).</p>

    <p>All items are assigned a persistent URL based on the persistent identifier, which follow the pattern https://curate.nd.edu/show/XXXXXXXXXXX where XXXXXXXXXXX is the eleven- character CurateND Identifier for the item. This pattern works for both records and files.</p>
  </div>

  <div class="policy-subcategory">
    Digital Object Identifier (DOI)
  </div>

  <div class="policy">
    <p>A DOI is the preferred way to cite materials in CurateND. A DOI can be created free of charge.</p>

    <p>If an item in CurateND has a CurateND-assigned DOI (i.e., a DOI that points to a CurateND web page as opposed to a publisher’s web page), then that DOI is guaranteed to always point to the item’s page in CurateND.</p>

    <p>CurateND DOIs will always point to an item’s information page in CurateND and not to any associated files to ensure compliance with the FAIR Guiding Principles for data management.<sup><a id="fnref:4" href="#fn:4">4</a></sup></p>

    <p>DOIs can also be generated for grant applications as necessary.</p>
  </div>

  <div class="policy-subheading">
    Unrecoverable Data
  </div>

  <div class="policy">
    <p>In the event of a complete or partial digital object loss or corruption, the affected item(s) will be marked “lost” and any data file(s) will be marked “unavailable for download.” Partially lost or corrupted file(s) will be retained, and we will attempt to notify the content owner(s). If the affected digital object is a metadata record, the record will be marked “lost,” and the CurateND team will try to reconstruct the record as much as possible.</p>
  </div>

  <div class="policy-subheading">
    Succession Plan
  </div>

  <div class="policy">
    <p>In the event of significant changes to the repository’s level of funding, staffing, or other resources, or in the event that the repository itself ceases to exist, Hesburgh Libraries will make a reasonable effort to continue providing access to deposited content.</p>

    <p>As part of its commitment to providing long-term access to deposited content, CurateND has existing relationships with other trusted digital repositories, such as Academic Preservation (AP) Trust. Hesburgh Libraries and the Office of Information Technology (OIT) continually monitor the digital preservation landscape for other possible solutions which could be used on a contingency basis.</p>
  </div>

  <div><a href="#top" class="emphasis">↩ return to top</a></div>

  <div class="footnotes">
    <div id="fn:1"><sup>1</sup> See the University of Notre Dame’s Intellectual Property Policy for more information: <a href="https://policy.nd.edu/assets/203061/intellectualpropertypolicy.pdf" target="_blank">https://policy.nd.edu/assets/203061/intellectualpropertypolicy.pdf</a>  <a href="#fnref:1" class="emphasis">↩ return to text</a></div>

    <div id="fn:2"><sup>2</sup> See Knowledge Base article: <a href="https://nd.service-now.com/kb_view.do?sysparm_article=KB0013665" target="_blank">https://nd.service-now.com/kb_view.do?sysparm_article=KB0013665</a>  <a href="#fnref:2" class="emphasis">↩ return to text</a></div>

    <div id="fn:3"><sup>3</sup> See University Archives Records Management Policy: <a href="https://policy.nd.edu/assets/185265/records_management_archives_2015.pdf" target="_blank">https://policy.nd.edu/assets/185265/records_management_archives_2015.pdf</a>  <a href="#fnref:3" class="emphasis">↩ return to text</a></div>

    <div id="fn:4"><sup>4</sup> Wilkinson, Mark D.; Dumontier, Michel; Aalbersberg, IJsbrand Jan; Appleton, Gabrielle; et al. (15 March 2016). "The FAIR Guiding Principles for scientific data management and stewardship". Scientific Data. 3: 160018. <a href="https://doi.org/doi:10.1038/sdata.2016.18" target="_blank">doi:10.1038/sdata.2016.18</a>  <a href="#fnref:4" class="emphasis">↩ return to text</a></div>
  </div>
</div>
